<h1> Edit Profile: </h1>

<body>

<%= form_with model: @current_user do |f| %>
    <%= f.label :first_name %> <br>
    <%= f.text_field :first_name %> <br>
    <%= f.label :last_name %> <br>
    <%= f.text_field :last_name %> <br>
    <%= f.label :bio %> <br>
    <%= f.text_area :bio, size: "70x6" %> <br>
    <%= f.label :weight %> <br>
    <%= f.number_field :weight %> <br>
    <%= f.label :height %> <br>
    <%= f.number_field :height %> <br>
    <%= f.label :goal %> <br>
    <%= f.select :goal, ["Weight Loss", "Weight Gain", "Build Muscle"] %> <br>
    <%= f.label :lifestyle %> <br>
    <%= f.select :lifestyle, ["Not Active", "Somewhat Active", "Active", "Very Active"] %> <br>
    <%= f.submit 'Update Profile' %>
    
<% end %>
</body>