<h1> Change Credentials: </h1>

<body>

<%= form_with model: @current_user do |f| %>
    <%= f.label :email %> <br>
    <%= f.email_field :email %> <br>
    <%= f.label :username %> <br>
    <%= f.text_field :username %> <br>
    <%= f.label :password %> <br>
    <%= f.password_field :password %> <br>

    <%= f.submit 'Update Credentials' %>
    
<% end %>
</body>