<h1> Sign Up Here: </h1>

<%= form_with model: @user do |f| %>
    <ul>
    <li><%= f.label :email %>
    <%= f.email_field :email %></li>
    <li><%= f.label :username %>
    <%= f.text_field :username %></li>
    <li><%= f.label :password %>
    <%= f.password_field :password %></li>
    <li><%= f.label :first_name %>
    <%= f.text_field :first_name %></li>
    <li><%= f.label :last_name %>
    <%= f.text_field :last_name %></li>
    <li><%= f.label :bio %>
    <%= f.text_area :bio, size: "70x6" %></li>
    <li><%= f.label :weight %>
    <%= f.number_field :weight %></li>
    <li><%= f.label :height %>
    <%= f.number_field :height %></li>
    <li><%= f.label :goal %>
    <%= f.select :goal, ["Weight Loss", "Weight Gain", "Build Muscle"] %></li>
    <%= f.submit 'Sign Up' %>
    </ul>
<% end %>
<%= button_to "Log in with Google", '/auth/google_oauth2'  %>

    
    