<h2>Your Profile</h2>

<body>
Username: <%= @user.username %> <br>
Name: <%= @user.first_name %> <%= @user.last_name %> <br>
Username: <%= @user.height %> <br>
Username: <%= @user.weight %> <br>
Username: <%= @user.lifestyle %> <br>
Username: <%= @user.bio %> <br>
</body>

