<h2>Your Profile</h2>

<body>
Username: <%= @current_user.username %> <br>
Name: <%= @current_user.last_name %>, <%= @current_user.first_name %> <br>
Height: <%= @current_user.height %> <br>
Weight: <%= @current_user.weight %> <br>
Lifestyle: <%= @current_user.lifestyle %> <br>
Lifestyle: <%= @current_user.goal %> <br>
Bio: <%= @current_user.bio %> <br>
<p>
<%= link_to "Edit Profile", edit_user_path(@current_user) %>
<%= link_to "Update Username/Password", edit_credentials_path(@current_user) %>
</p>
</body>

