<%= form_with model: @log do |f| %>
    <%= f.label :date %> <br>
    <%= f.date_field :date %> <br>
    <%= f.label :cheat_day %> <br>
    <%= f.check_box :cheat_day %> <br>
    <%= f.label :cal_goal %> <br>
    <%= f.number_field :cal_goal, step: 1.0 %> <br>
    <%= f.label :protein_goal %> <br>
    <%= f.number_field :protein_goal, step: 1.0 %> <br>
    <%= f.label :carb_goal %> <br>
    <%= f.number_field :carb_goal, step: 1.0 %> <br>
    <%= f.label :fat_goal %> <br>
    <%= f.number_field :fat_goal, step: 1.0 %> <br>
    <%= f.label :water_goal %> <br>
    <%= f.number_field :water_goal, step: 1.0 %> <br>
    <%= f.label :sugar_goal %> <br>
    <%= f.number_field :sugar_goal, step: 1.0 %> <br>
    Add Meal:<br>
    <%= f.fields_for :meals do |meals_form| %>
        <li>
        <%= meals_form.label :meal_type %> <br>
        <%= meals_form.select :meal_type, ["Breakfast", "Lunch", "Dinner", "Snack", "Misc" ]  %> <br>
        <%= meals_form.label :meal_name %> <br>
        <%= meals_form.text :meal_name %> <br>
        <%= meals_form.label :cal_amount %> <br>
        <%= meals_form.text :cal_amount %> <br>
        <%= meals_form.label :protein_amount %> <br>
        <%= meals_form.text :protein_amount %> <br>
        <%= meals_form.label :carb_amount %> <br>
        <%= meals_form.text :carb_amount %> <br>
        <%= meals_form.label :fat_amount %> <br>
        <%= meals_form.text :fat_amount %> <br>
        <%= meals_form.label :water_amount %> <br>
        <%= meals_form.text :water_amount %> <br>
        <%= meals_form.label :sugar_amount %> <br>
        <%= meals_form.text :sugar_amount %> <br>
        <%= meals_form.label :cheat_meal %> <br>
        <%= meals_form.check_box :cheat_meal %> <br>
        </li>
        <%= meals_form.submit 'Add Meal' %> <br>
    <% end %>


    <%= f.submit 'Create Log' %>
<% end %>
