<%= form_with model: @log do |f| %>
    <% if @log.errors.any? %>
    <ul>
    <% @log.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
    <%= f.label :date %> <br>
    <%= f.date_field :date %> <br>
    <%= f.label :cheat_day %> <br>
    <%= f.check_box :cheat_day %> <br>
    <%= f.label :cal_goal %> <br>
    <%= f.number_field :cal_goal, step: 1.0 %> <br>
    <%= f.label :protein_goal %> <br>
    <%= f.number_field :protein_goal, step: 1.0 %> <br>
    <%= f.label :carb_goal %> <br>
    <%= f.number_field :carb_goal, step: 1.0 %> <br>
    <%= f.label :fat_goal %> <br>
    <%= f.number_field :fat_goal, step: 1.0 %> <br>
    <%= f.label :water_goal %> <br>
    <%= f.number_field :water_goal, step: 1.0 %> <br>
    <%= f.label :sugar_goal %> <br>
    <%= f.number_field :sugar_goal, step: 1.0 %> <br>
    <br>
    <br>
    <p> Select Previously Submitted Meal<br>
    <%= f.label :meal_id, "By Name:" %>
    <%= f.collection_select :meal_id, Meal.all, :id, :meal_name, prompt: true%>
    <p>
    Or Add New Meal:<br>
    <%= f.fields_for :meals, @log.meals.build do |meal_form| %>
        <li>
        <%= meal_form.label :meal_type %> <br>
        <%= meal_form.select :meal_type, ["Breakfast", "Lunch", "Dinner", "Snack", "Misc" ]  %> <br>
        <%= meal_form.label :meal_name %> <br>
        <%= meal_form.text_field :meal_name %> <br>
        <%= meal_form.label :cal_amount %> <br>
        <%= meal_form.text_field :cal_amount %> <br>
        <%= meal_form.label :protein_amount %> <br>
        <%= meal_form.text_field :protein_amount %> <br>
        <%= meal_form.label :carb_amount %> <br>
        <%= meal_form.text_field :carb_amount %> <br>
        <%= meal_form.label :fat_amount %> <br>
        <%= meal_form.text_field :fat_amount %> <br>
        <%= meal_form.label :water_amount %> <br>
        <%= meal_form.text_field :water_amount %> <br>
        <%= meal_form.label :sugar_amount %> <br>
        <%= meal_form.text_field :sugar_amount %> <br>
        <%= meal_form.label :cheat_meal %> <br>
        <%= meal_form.check_box :cheat_meal %> <br>
        </li>
        <%= meal_form.submit 'Add Meal' %> <br>
    <% end %>


    <%= f.submit 'Create Log' %>
<% end %>
